@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

html {
    scroll-behavior: smooth;
}

.corpo {
    margin-top: 15rem;
    position: relative;
    height: 1000px;
    width: 85%;
}

#img-23 {
    height: 18rem;
    width: 28rem;
    border-radius: .5rem;
}

#img-22 {
    height: 17rem;
    width: 29rem;
    border-radius: .5rem;
}

#img-21 {
    height: 18rem;
    width: 29rem;
    border-radius: .5rem;
}

#img-20 {
    height: 18rem;
    width: 29rem;
    border-radius: .5rem;
}

#img-19 {
    height: 17rem;
    width: 30rem;
    border-radius: .5rem;
}

#img-18 {
    height: 18rem;
    width: 30rem;
    border-radius: .5rem;
}

#img-17 {
    height: 17rem;
    width: 30rem;
    border-radius: .5rem;
}

#img-16 {
    height: 18rem;
    width: 35rem;
    border-radius: .5rem;
}

#img-15 {
    height: 18rem;
    width: 30rem;
    border-radius: .5rem;
}

#img-14 {
    height: 18rem;
    width: 32rem;
    border-radius: .5rem;
}

#img-13 {
    height: 18rem;
    width: 30rem;
    border-radius: .5rem;
}

#img-12 {
    height: 18rem;
    width: 35rem;
    border-radius: .5rem;
}

#img-11 {
    height: 18rem;
    width: 32rem;
    border-radius: .5rem;
}

#img-10 {
    height: 18rem;
    width: 30rem;
    border-radius: .5rem;
}

#img-9 {
    height: 18rem;
    width: 28rem;
    border-radius: .5rem;
}

#img-8 {
    height: 18rem;
    width: 35rem;
    border-radius: .5rem;
}

#img-7 {
    height: 18rem;
    width: 28rem;
    border-radius: .5rem;
}

#img-6 {
    height: 18rem;
    width: 30rem;
    border-radius: .5rem;
}

#img-5 {
    height: 19rem;
    width: 30rem;
    border-radius: .5rem;
}

#img-4 {
    height: 20rem;
    width: 32rem;
    border-radius: .5rem;
}

#img-3 {
    height: 18rem;
    width: 29rem;
    border-radius: .5rem;
}

#img-2 {
    height: 18rem;
    width: 35rem;
    border-radius: .5rem;
}

#img-1 {
    height: 18rem;
    width: 32rem;
    border-radius: .5rem;
}

#img {
    height: 18rem;
    width: 35rem;
    border-radius: .5rem;
}

.text {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-1 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;

    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-2 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-3 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-4 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-5 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-6 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-7 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-8 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-9 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-10 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-11 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-12 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-13 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-14 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-15 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-16 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-17 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-18 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-19 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-20 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-21 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-22 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-23 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
}

.mensagem {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 85%;
    left: -8rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-1 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 60%;
    left: -6rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-2 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 60%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-3 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 60%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-4 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 72%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-5 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 60%;
    left: -6rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-6 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 60%;
    left: -6rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-7 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 60%;
    left: -6rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-8 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 60%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-9 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 65%;
    left: -6rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-10 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 65%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-11 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 65%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-12 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 85%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-13 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 65%;
    left: -8rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-14 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 65%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-15 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 65%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-16 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 75%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-17 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 65%;
    left: -11.5rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-18 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 65%;
    left: -11.5rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-19 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 65%;
    left: -11.5rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-20 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 70%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-21 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 60%;
    left: -8rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-22 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 60%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.mensagem-23 {
    position: absolute;
    justify-content: center;
    text-align: justify;
    padding: 1rem;
    top: 60%;
    left: -9rem;
    width: 30vw;
    height: auto;
    background-color: #ffcad4;
    border: .2rem solid #588157;
    border-radius: 1rem;
    display: none;
    z-index: 999;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 25.1rem;
    top: -21.4rem;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-1 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 38.7rem;
    top: -26.5vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-2 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 30.1rem;
    top: -26.5vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-3 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 21.5rem;
    top: -26.5vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-4 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 25.1rem;
    top: -75.6vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-5 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 38.7rem;
    top: -61.7vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    padding: 1.5rem;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-6 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 38.7rem;
    top: -75.6vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-7 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 38.7rem;
    top: -89.4vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-8 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 25.1rem;
    top: -98.6vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-9 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 38.7rem;
    top: -130.9vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-10 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 30.1rem;
    top: -130.9vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-11 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 21.5rem;
    top: -130.9vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-12 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -56rem;
    top: -52.5vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-13 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -44.5rem;
    top: -26.5vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-14 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -53.1rem;
    top: -26.5vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-15 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -61.7rem;
    top: -26.5vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-16 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -55.9rem;
    top: -75.6vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-17 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -69.5rem;
    top: -61.7vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-18 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -69.5rem;
    top: -75.55vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-19 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -69.5rem;
    top: -89.4vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-20 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -55.9rem;
    top: -98.6vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-21 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -44.5rem;
    top: -130.9vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-22 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -53.1rem;
    top: -130.9vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.container-23 {
    background-color: #ffcad4;
    display: none;
    flex-direction: column;
    position: absolute;
    left: -61.7rem;
    top: -130.9vh;
    color: #FFF;
    padding: 1.5rem;
    text-align: center;
    width: 45vw;
    height: auto;
    z-index: 999;
}

.img-23 {
    display: flex;
    position: absolute;
    top: 62%;
    left: 82.5%;
    transform: rotate(105deg);
}

.img-22 {
    display: flex;
    position: absolute;
    top: 63%;
    left: 78%;
    transform: rotate(135deg);
}

.img-21 {
    display: flex;
    position: absolute;
    top: 62%;
    left: 73%;
    transform: rotate(175deg);
}

.img-20 {
    display: flex;
    position: absolute;
    top: 40%;
    left: 89%;
    transform: rotate(430deg);
}

.img-19 {
    display: flex;
    position: absolute;
    top: 35%;
    left: 89.4%;
    transform: rotate(400deg);
}

.img-18 {
    display: flex;
    position: absolute;
    top: 30%;
    left: 89%;
    transform: rotate(379deg);
}

.img-17 {
    display: flex;
    position: absolute;
    top: 62%;
    left: 32.5%;
    transform: rotate(120deg);
}

.img-16 {
    display: flex;
    position: absolute;
    top: 62%;
    left: 28%;
    transform: rotate(150deg);
}

.img-15 {
    display: flex;
    position: absolute;
    top: 60%;
    left: 24%;
    transform: rotate(180deg);
}

.img-14 {
    display: flex;
    position: absolute;
    top: 40%;
    left: 23%;
    transform: rotate(205deg);
}

.img-13 {
    display: flex;
    position: absolute;
    top: 35%;
    left: 23%;
    transform: rotate(225deg);
}

.img-12 {
    display: flex;
    position: absolute;
    top: 30%;
    left: 23%;
    transform: rotate(250deg);
}

.img-11 {
    display: flex;
    position: absolute;
    top: 12%;
    left: 84%;
    transform: rotate(350deg);
}

.img-10 {
    display: flex;
    position: absolute;
    top: 12%;
    left: 78%;
    transform: rotate(300deg);
}

.img-9 {
    display: flex;
    position: absolute;
    top: 13%;
    left: 72%;
    transform: rotate(269deg);
}

.img-8 {
    display: flex;
    position: absolute;
    top: 12%;
    left: 34%;
    transform: rotate(329deg);
}

.img-7 {
    display: flex;
    position: absolute;
    top: 12%;
    left: 28%;
    transform: rotate(290deg);
}

.img-6 {
    display: flex;
    position: absolute;
    top: 13%;
    left: 22%;
    transform: rotate(260deg);
}

.img-5 {
    display: flex;
    position: absolute;
    top: 44%;
    left: 70%;
    transform: rotate(440deg)
}

.img-4 {
    display: flex;
    position: absolute;
    top: 37%;
    left: 70%;
    transform: rotate(400deg);
}

.img-3 {
    display: flex;
    position: absolute;
    top: 30%;
    left: 70%;
    transform: rotate(360deg);
}

.img-2 {
    display: flex;
    position: absolute;
    top: 44%;
    left: 43%;
    transform: rotate(185deg);
}

.img-1 {
    display: flex;
    position: absolute;
    top: 37%;
    left: 43%;
    transform: rotate(225deg);
}

.img {
    display: flex;
    position: absolute;
    top: 30%;
    left: 43%;
    transform: rotate(260deg);
}

.direita-8 {
    display: flex;
    position: absolute;
    top: 70%;
    left: 86%;
}

.direita-7 {
    display: flex;
    position: absolute;
    top: 70%;
    left: 74%;
}

.direita-6 {
    display: flex;
    position: absolute;
    top: 70%;
    left: 62%;
}

.direita-5 {
    display: flex;
    position: absolute;
    top: 43%;
    left: 97%;

}

.direita-4 {
    display: flex;
    position: absolute;
    top: 34%;
    left: 97%;
}

.direita-3 {
    display: flex;
    position: absolute;
    top: 25%;
    left: 97%;
}

.direita-2 {
    display: flex;
    position: absolute;
    top: 2%;
    left: 86%
}

.direita-1 {
    display: flex;
    position: absolute;
    top: 2%;
    left: 74%;
}

.direita {
    display: flex;
    position: absolute;
    top: 2%;
    left: 62%;
}

.esquerda-8 {
    display: flex;
    position: absolute;
    top: 70%;
    left: 34%
}

.esquerda-7 {
    display: flex;
    position: absolute;
    top: 70%;
    left: 22%
}

.esquerda-6 {
    display: flex;
    position: absolute;
    top: 70%;
    left: 10%
}

.esquerda-5 {
    display: flex;
    position: absolute;
    top: 43%;
    left: 10%
}

.esquerda-4 {
    display: flex;
    position: absolute;
    top: 34%;
    left: 10%
}

.esquerda-3 {
    display: flex;
    position: absolute;
    top: 25%;
    left: 10%
}

.esquerda-2 {
    display: flex;
    position: absolute;
    top: 2%;
    left: 34%
}

.esquerda-1 {
    display: flex;
    position: absolute;
    top: 2%;
    left: 22%;
}

.esquerda {
    display: flex;
    position: absolute;
    top: 2%;
    left: 10%;
}

.central-6 {
    display: flex;
    position: absolute;
    top: 49%;
    left: 78%;
}

.central-5 {
    display: flex;
    position: absolute;
    top: 34%;
    left: 78%;
}

.central-4 {
    display: flex;
    position: absolute;
    top: 19%;
    left: 78%;
}

.central-3 {
    display: flex;
    position: absolute;
    top: 49%;
    left: 28.5%;
}

.central-2 {
    display: flex;
    position: absolute;
    top: 34%;
    left: 29%;
}

.central-1 {
    display: flex;
    position: absolute;
    top: 19%;
    left: 29%;
}

.central {
    display: flex;
    position: absolute;
    top: 34%;
    left: 50%;
}

.botao-central {
    border: 0;
    height: 8rem;
    width: 12.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #ffa200;
    font-size: 29px;
    border-radius: 1.3rem;
}

.botao-1 {
    border: .2rem solid #00b4d8;
    height: 7rem;
    width: 7rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #593493;
    font-size: 1.4rem;
    border-radius: 1.3rem;
}

.botao-2 {
    border: .2rem solid #00b4d8;
    height: 5rem;
    width: 7rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;
}

.botao-3 {
    border: .2rem solid #d00000;
    height: 5rem;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-4 {
    height: 5rem;
    border: .2rem solid #d00000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-5 {
    border: .2rem solid #00b4d8;
    height: 7rem;
    width: 7rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;
}

.botao-6 {
    height: 5rem;
    border: .2rem solid #70e000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-7 {
    height: 5rem;
    border: .2rem solid #00b4d8;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-8 {
    height: 5rem;
    border: .2rem solid #d00000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-9 {
    height: 7rem;
    border: .2rem solid #d00000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-10 {
    height: 5rem;
    border: .2rem solid #d00000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-11 {
    height: 5rem;
    border: .2rem solid #00b4d8;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-12 {
    height: 5rem;
    border: .2rem solid #70e000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-13 {
    height: 7rem;
    border: .2rem solid #d00000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-14 {
    height: 5rem;
    border: .2rem solid #70e000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-15 {
    height: 5rem;
    border: .2rem solid #00b4d8;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-16 {
    height: 5rem;
    border: .2rem solid #00b4d8;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-17 {
    height: 7rem;
    border: .2rem solid #00b4d8;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}

.botao-18 {
    height: 5rem;
    border: .2rem solid #d00000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}
.botao-19 {
    height: 5rem;
    border: .2rem solid #d00000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}.botao-20 {
    height: 5rem;
    border: .2rem solid #70e000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}.botao-21 {
    height: 7rem;
    border: .2rem solid #70e000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}.botao-22 {
    height: 5rem;
    border: .2rem solid #d00000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}.botao-23 {
    height: 5rem;
    border: .2rem solid #d00000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}.botao-24 {
    height: 5rem;
    border: .2rem solid #d00000;
    width: 7.5rem;
    font-weight: bold;
    font-family: 'Just Another Hand', cursive;
    color: black;
    background-color: #b7e4c7;
    font-size: 1.4rem;
    border-radius: 1.3rem;

}